@import '../../../sass/constants';
@import '../../../sass/mixins';

.instructions {
  @include mobile {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
  }
  &__picture {
    @include mobile {
      order: 1;
    }
  }
  &__text {
    p {
      font-size: 14px;
      @include mobile {
        font-size: 16px;
        margin-bottom: 20px;
      }
    }
  }
}
